html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
    --bg-success: #27ab27;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.section {
    padding: 3rem 0;
}

.link {
    cursor: pointer;
}

.nav-link {
    font-size: 1rem;
}

.flex-1 {
    display: flex;
    gap: 1em;
}
.flex-2 {
    display: flex;
    gap: 2em;
}
.flex-3 {
    display: flex;
    gap: 3em;
}

.m-1 {
    margin: 0.25em;
}
.m-2 {
    margin: 0.5em;
}
.m-3 {
    margin: 0.75em;
}
.p-1 {
    padding: 0.25em;
}
.p-1 {
    padding: 0.5em;
}
.p-1 {
    padding: 0.75em;
}

.centered {
    justify-content: center;
}

.vertical {
    flex-direction: vertical;
}
